body, html {
    height: 100%;
}


#cover {
height: 100%;
width: 100%;
}


#mobileCover {
  display: none;
  background-color: #ecc9c7;
  margin-bottom: 0;
}

#map {
  background-color: #f3dcd4;
  max-width: 100%;
}

#winMap {
  height: 500px;
  width: 800px;
  margin: 0 auto;
}

#profile, #mobileProfile {
  background-color: #ecc9c7;
  max-width: 100%;
}

#womenPhotos {
  max-width: 905px;
  margin: 0 auto;
}

#ocasioText {
  max-width: 450px;
}

#omarText {
  max-width: 450px;
}

#pressleyText {
  max-width: 450px;
}

#sinemaText {
  max-width: 450px;
}

#quiz {
  background-color: #f3dcd4;
  max-width: 100%;
}

#involvement {
  background-color: #ecc9c7;
  max-width: 100%;
}

#mobileOcasioCortez, #mobileOmar, #mobilePressley, #mobileSinema {
  display: block;
  margin: 0 auto;
}

#mobileProfile {
  display: none;
}

#references {
    background-color: #f3dcd4;
    max-width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 951px) {
  #cover {
    display: none;
  }

 #mobileCover {
   display: block;
   min-height: 100%;
   padding-bottom: 2rem;
 }

  #winMap {
    width: 330px;
  }
  #mobileProfile {
    display: block;
  }
  #profile {
    display: none;
  }
}
