body, html {
    height: 100%;
}

#mobileCover {
  background-color: #ecc9c7;
  margin-bottom: 0;
  min-height: 100%;
}

#map {
  background-color: #f3dcd4;
  max-width: 100%;
}

#winMap {
  height: 410px;
  width: 700px;
  margin: 0 auto;
}

#profile, #mobileProfile {
  background-color: #ecc9c7;
  max-width: 100%;
}

#womenPhotos {
  max-width: 905px;
  margin: 0 auto;
}

#ocasioText {
  max-width: 450px;
}

#omarText {
  max-width: 450px;
}

#pressleyText {
  max-width: 450px;
}

#sinemaText {
  max-width: 450px;
}

#quiz {
  background-color: #f3dcd4;
  max-width: 100%;
}

#involvement {
  background-color: #ecc9c7;
  max-width: 100%;
}

#mobileOcasioCortez, #mobileOmar, #mobilePressley, #mobileSinema {
  display: block;
  margin: 0 auto;
}

#mobileProfile {
  display: none;
}

#references {
    background-color: #f3dcd4;
    max-width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 951px) {
  #mobileProfile {
    display: block;
  }
  #profile {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  #winMap {
    width: 600px;
  }
}

@media screen and (max-width: 650px) {
    #winMap {
      width: 550px;
    }
  }

@media screen and (max-width: 580px) {
      #winMap {
        width: 330px;
      }
    }
